In [ ]:
print(3+2) #addition
print(6/2) #division
print(2*4) #multiplication
print(3**2) #exponential
print(3//2) # Floor division operator

5
3.0
8
9
1

In [16]:
#data typed
print(type(10))
print(type(2.45))
print(type(1+3j))
print(type('malik'))
print(type([1,2,3]))
print(type({'name':'malik'}))
print(type({3,4,5.6,7.8}))
print(type((6.7,3.4)))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [23]:
#variables 
first_name = 'malik'
last_name = 'glenn'
country= 'kenya'
city= 'nairobi'
age = 19
is_married= True
person_info = {
    'first_name':'malik',
    'last_name':'glenn',
    'country':'kenya',
    'city':'nairobi',
}

print('first_name:',first_name)
print('last_name:',last_name)
print('country:',country)
print('city:',city)
print('person_info:',person_info)
print('married:',is_married)

first_name: malik
last_name: glenn
country: kenya
city: nairobi
person_info: {'first_name': 'malik', 'last_name': 'glenn', 'country': 'kenya', 'city': 'nairobi'}
married: True